@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;600&display=swap");
* {
  margin: 0;
  padding: 0;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.pointer {
  cursor: pointer;
}

.spacebetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.spacearound {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.rad10 {
  border-radius: 10px;
}

.rad20 {
  border-radius: 20px;
}

.rad40 {
  border-radius: 40px;
}

.flipH {
  transform: scaleX(-1);
}

.flipv {
  transform: scaleY(-1);
}

html {
  scroll-behavior: smooth;
}

.flexStart {
  align-items: flex-start;
  justify-content: flex-start;
  color: white;
}

.borderBox {
  box-sizing: border-box;
}

.displayNon {
  display: none;
}

.filter06 {
  filter: brightness(0.6);
}

a {
  text-decoration: none;
  color: black;
  outline: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

input, textarea {
  outline: none;
  border: none;
}

.lheight {
  height: 100vh;
}

li {
  list-style: none;
  color: inherit;
}

.margTop50 {
  margin-top: 50px;
}/*# sourceMappingURL=style.css.map */
body {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body  .conainer {
    width : 100% ;
    box-sizing: border-box;
    padding : 10px ;
    flex-direction: column; 
    height : 50vh ;
}
.box  {
  width : 70vw ;
  height : 50px ;
  margin : 10px ;
}
.box p {
  width : 150px ;
}
.box input {
  width : 200px ;
  height: 20px;
  box-sizing: border-box;
  padding: 20px;
  background-color: #c5c2c2 ;

}
h3 {
  font-size: 24px;
}
 button {
  width : 200px ;
  height : 50px ;
  font-size: 20px ;
}
